body{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.app{
  display: flex;
}

.product-info {
  padding-top: 20px
}

.original-price {
  text-decoration: line-through;
}

.sale-price {
  color: red;
}

.style-thumbnails {
  object-fit: cover;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  cursor: pointer;
}

.selected-style {
  width: 100px;
  height: 100px;
}
